body {
    background-color: var(--branco);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1000px;
    min-width: 1000px;
    height: 100%;
    background-color: var(--cor05);

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.131);
}

/*cabeçalho*/
header {
    width: 100%;
    height: 40px;
    background-color: var(--cor04);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
}

.imgRobo{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Container com as principais funções */
.containerFuncoes {
    width: 92%;
    height: 27%;
    border-bottom: solid var(--cor04);

    display: flex;
    justify-content: center;
    align-items: center;
}

.funcoes {
    width: 92%;
    height: 77%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;

}

.containerBotoes {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;

}
.divBotao{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;

    position: relative;

}

/* botão produtir rural fila de emissão emitir notas*/
.buttonAcao {
    width: 90%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    padding: 0% 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Caixa com os inputs de cadastro e barra de progresso*/
.caixaDialogo {
    width: 97%;
    height: calc(100% - 60px);
    background-color: var(--branco);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
}



/* input de que contém os dados do produtor */
.inputDados{
    width: 100%;
    height: 30%;
    border-radius: 5px;
    border: none;
    background-color: var(--cor05);
    text-align: center;
    color: var(--cor04);
    font-size: 80%;
}

.inputDados:focus{
    border: 2px solid var(--cor01); 
    outline: none;
    font-size: 80%;
    color: var(--cor04);
    text-transform: uppercase;
    font-weight: 500;
}


/*container comm os inputs fila de emissaão*/

.filaDeEmissao{
    border: solid 2px var(--cor01);
    box-shadow: var(--shadow01);
}


