.seletorRural{
    width: 30px;
    height: 30px;
    background-color: var(--cor01);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%) rotate(45deg);
    box-shadow: var(--shadow01);
    z-index: 1;

  }

.containerProdutorRural{
    width: 100%;

}

.numero{
    width: 20%;
}
.produtorRural{
    width: 70%;
}
.login{
   width: 45%;
}
.senha{
   width: 45%;
}